// Here you can add other styles

#reportTable {
  font-size:0.55rem;
}

.fixed-height {
  height: 245px;
}

#accountDropDown {
  margin-left: 27px;
}

.white {
  color: #fff;
}

.badge-thick {
  height:31px;
  width:100%;
  text-align:center;
  padding-top:8px;
}

.block {
  display: block;
  margin-top:200px;
}

.flexy {
            display: block;
            width: 90%;
            border: 1px solid #eee;
            max-height: 320px;
            overflow: auto;
        }

        .flexy thead {
            display: -webkit-flex;
            -webkit-flex-flow: row;
        }

        .flexy thead tr {
            padding-right: 15px;
            display: -webkit-flex;
            width: 100%;
            -webkit-align-items: stretch;
        }

        .flexy tbody {
            display: -webkit-flex;
            height: 100px;
            overflow: auto;
            -webkit-flex-flow: row wrap;
        }
        .flexy tbody tr{
            display: -webkit-flex;
            width: 100%;
        }

        .flexy tr td {
            width: 15%;
        }
