// Here you can add other styles

#reportTable {
  font-size:0.55rem;
}

.fixed-height {
  height: 245px;
}

.white {
  color: #fff;
}

.badge-thick {
  height:31px;
  width:100%;
  text-align:center;
  padding-top:8px;
}

.block {
  display: block;
  margin-top:200px;
}